name: Build and upload tally

on: 
  push: 
    branches:
      - main

jobs:
  build: 
    runs-on: ubuntu-latest

    steps:
    - name: Checkout source
      uses: actions/checkout@v4

    - name: Install Rust
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        default: true
        override: true

    - name: Build project
      run: cargo build --release

    - name: Upload release binary
      uses: actions/upload-artifact@v4
      with:
        name: tally
        path: target/release/tally
